<div id="banner" class="row">
  <header class="header twelve column">
    <h1 class="title">
      {{ include.content.title }}
    </h1>
    {{ include.content.description | markdownify }}
  </header>

  <nav class="menu twelve column">
    {% for link in include.content.menu %}
      {% unless link.primary %}
        {% assign link_class = "btn-link" %}
      {% else %}
        {% assign link_class = "btn-primary" %}
      {% endunless %}

      <a href="{{ link.url }}" class="{{ link_class }}">
        {{ link.text }}
      </a>
    {% endfor %}
  </nav>

  <div class="illustration">
    {% svg "{{ include.content.illustration }}" %}
  </div>
</div>
