<div id="credits" class="row">
  <div class="xsmall-11 medium-7 column">

    <h2 class="title">
      {{ include.content.title }}
    </h2>

    {{ include.content.paragraph | markdownify | replace: '<p>', '<p class="paragraph">' }}

    <dl class="closing-credits">
      {% for closing_credit in include.content.closing_credits %}

        <dt class="title">
          <a href="{{ closing_credit.link }}" target="_blank">{{ closing_credit.name }}</a>
        </dt>

        <dd class="paragraph">{{ closing_credit.description }}</dd>

      {% endfor %}
    </dl>

  </div>
</div>
