<div id="banner" class="row">
  <header class="header eleven column">
    <h1 class="title">
      {{ include.content.title }}
    </h1>
    {{ include.content.description | markdownify | replace: '<p>', '<p class="paragraph">' }}
  </header>

  {% if include.content.menu %}
    <nav class="menu twelve column">
      {% for link in include.content.menu %}
        {% unless link.primary %}
          {% assign link_class = "btn-link" %}
        {% else %}
          {% assign link_class = "btn-primary" %}
        {% endunless %}

        <a href="{{ link.url }}" class="{{ link_class }}">
          {{ link.text }}
        </a>
      {% endfor %}
    </nav>
  {% endif %}

  {% if include.content.illustration %}
    <div class="illustration">
      {% svg "{{ include.content.illustration }}" %}
    </div>
  {% endif %}
</div>
